<div>
    <br>
    <div class="row">
        <div class="col-md-11 mx-auto">
            <a type="button" href="/Descagar/UsersInscritos" class="btn btn-gris-os" >Generar archivo</a>
            <a class="btn btn-gris-os" onclick="downanddown()" >Exportar a excel</a>
            <a href="excels/usuariosInscritos.csv" id="descargar" style="display: none;" download="usuariosInscritos.csv"></a>
            <a href="/eliminarArchivo/usuariosInscritos" id="eliminame" style="display: none;"></a>
            <table class="table table-light table-striped">
                <thead>
                    <tr align="center">
                        <th scope="col">Rol</th>
                        <th scope="col">Contrasena</th>
                        <th scope="col">Run</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Habitantes</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Email</th>
                        <th scope="col">Alertas Mes actual</th>
                        <th scope="col">Nº de Reciclajes</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userInscrito}}
                    <tr align="center">
                        <td>{{this.rol}}</td>
                        <td>{{this.contrasena}}</td>
                        <td>{{this.run}}</td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.telefono}}</td>
                        <td>{{this.num_habitantes}}</td>
                        <td>{{this.domicilio}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.num_alertas}}</td>
                        <td>{{this.recicló}}</td>
                        <td>
                            <a class="btn btn-danger" href="desinscribir/{{this.run}}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function downanddown(){
        document.getElementById('descargar').click();
        document.getElementById('eliminame').click();
    }
</script>