<div class="conteiner p-4">
    <br>
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="table-responsive">
                <table class="table table-info table-striped table-hover">
                    <thead>
                        <tr align="center">
                            <th scope="col">Rol</th>
                            <th scope="col">Run</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Habitantes</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">email</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userModificar}}
                        <tr align="center">
                            <td>{{this.rol}}</td>
                            <td>{{this.run}}</td>
                            <td>{{this.nombre}}</td>
                            <td>{{this.telefono}}</td>
                            <td>{{this.num_habitantes}}</td>
                            <td>{{this.domicilio}}</td>
                            <td>{{this.email}}</td>
                            <td>
                                <a class="btn btn-secondary" href="userCambio/{{this.run}}">
                                    Ver
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>