<div class="conteiner-p-4">
    <br>
    <div class="row">
        <div class="col-md-11 mx-auto">
            <a type="button" href="/Descagar/UsersAlertas" class="btn btn-dark">Generar archivo</a>
            <a class="btn btn btn-outline-secondary bg-dark" onclick="downanddown()">Exportar a excel</a>
            <a href="/excels/usuariosAlertas.csv" id="descargar" style="display: none;"
                download="usuariosAlertas.csv"></a>
            <a href="/eliminarArchivo/usuariosAlertas" id="eliminame" style="display: none;"></a>
            <div class="table-responsive">
                <table class="table table-info table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Rol de la vivienda</th>
                            <th scope="col">Estado de la alerta</th>
                            <th scope="col">Fecha de la alerta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each defdata.[0]}}
                        <tr>
                            <td>{{this.rol}}</td>
                            <td>{{this.estado}}</td>
                            <td>{{this.fecha_alerta}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav class="" aria-label="Page navigation example">
                <ul class="pagination">
                    {{#eachpage defdata.[1] defdata.[2].[0].total}}
                        <li class="page-item"><a class="page-link" href="/usersAlertas/{{this}}">{{this}}</a></li>
                    {{/eachpage}}
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    function downanddown() {
        document.getElementById('descargar').click();
        document.getElementById('eliminame').click();
    }
</script>