<div class="conteiner p-4">
    <br>
    <div class="row">
        <div class="col-md-11 mx-auto">
            <table class="table table-light table-striped ">
                <thead>
                    <tr align="center">
                        <th scope="col">Rol</th>
                        <th scope="col">Run</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Habitantes</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">email</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userEspera}}
                    <tr align="center">
                        <td>{{this.rol}}</td>
                        <td>{{this.run}}</td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.telefono}}</td>
                        <td>{{this.num_habitantes}}</td>
                        <td>{{this.domicilio}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <a class="btn btn-success" href="Acept/{{this.run}}">
                                Aceptar
                            </a>
                            <a class="btn btn-danger" href="Borrar/{{this.run}}">
                                Rechazar
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>