<div class="conteiner-p-4">
    <br>
    <div class="row">
        <div class="col-md-11 mx-auto">
            <a style="margin: 0px 0px 0px 10px;" type="button" href="/Descagar/UsersInscritos" class="btn btn-gris-os">Generar archivo</a>
            <a class="btn btn-gris-os" onclick="downanddown()">Exportar a excel</a>
            <a href="excels/usuariosInscritos.csv" id="descargar" style="display: none;"
                download="usuariosInscritos.csv"></a>
            <a href="/eliminarArchivo/usuariosInscritos" id="eliminame" style="display: none;"></a>
            <table class="table table-light table-striped ">
                <thead>
                    <tr align="center">
                        <th scope="col">Run</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Fecha de aviso</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each defdata.[0]}}
                    <tr align="center">
                        <td>{{this.run}}</td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.domicilio}}</td>
                        <td>{{this.fecha_alerta}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav class="" aria-label="Page navigation example">
                <ul class="pagination">
                    {{#eachpage defdata.[1] defdata.[2].[0].total}}
                        <li class="page-item"><a class="page-link" href="/usersAlertas/{{this}}">{{this}}</a></li>
                    {{/eachpage}}
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    function downanddown() {
        document.getElementById('descargar').click();
        document.getElementById('eliminame').click();
    }
</script>