<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body tarjeta-verde text-white">
                    <h5 class="card-title" align="center"><b>Mi perfil</b></h5>
                    <h6 class="card-subtitle mb-2">Datos:</h6>
                    <h5 class="card-text ">Nombre: {{user.nombre}}</h5>
                    <h5 class="card-text">Run: {{user.run}}</h5>
                    <h5 class="card-text">Correo electronico: {{user.email}}</h5>
                    <h5 class="card-text">Telefono: {{vivienda.[0].telefono}}</h5>
                    <h5 class="card-text">Rol: {{vivienda.[0].rol}}</h5>
                    <h5 class="card-text">Domicilio: {{vivienda.[0].domicilio}}</h5>
                    <h5 class="card-text">Habitantes de la vivienda: {{vivienda.[0].num_habitantes}}</h5>
                    <br>
                    <div align="center">
                        <a href="/editarPerfil/{{user.run}}" class="btn btn-success btn-verde-cl">Solicitar Cambio de Datos</a>
                        <br>
                        <br>
                        <a href="/desinscribirme" class="btn btn-success btn-verde-os">Desinscribirme del programa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card tarjeta-naranja text-white" style="width: 18rem;">
                <div class="card-body mx-auto">
                    <h5 class="card-title" align="center"> <b>Veces que he reciclado <i class="fas fa-trash-alt"></i></b></h5>
                    <h1 align="center">{{vivienda.[1].veces_recicla}}</h1>

                    <h5 class="card-title" align="center">Ingresar código de reciclaje</h5>
                    <form action="/validarCodigo" method="POST">
                        <div class="form-group mb-2 ">
                            <input type="text" id="codigo" class="form-control" name="codigo" autofocus>
                        </div>
                        <div class="form-group mb-2" align="center">
                            <button type="submit" class="btn btn-naranja-os text-white">Validar código</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card tarjeta-rojo" style="width: 18rem;">
                <div class="card-body mx-auto">
                    <h5 class="card-title text-white" align="center"> <b>Aviso de reciclaje <i class="far fa-bell"></i></b></h5>
                    <!--<a href="/alerta/{{vivienda.[0].rol}}" class="btn btn-danger btn-rojo-os">Quiero enviar mi alerta de reciclaje</a> -->
                    <br>
                    <div align="center">
                        <a type="button" class="btn btn-danger btn-rojo-os" data-toggle="modal" data-target="#exampleModal">Información</a>
                    </div>
                <br>
                </div><!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Este botón sirve para avisar a DIMAO que ya tienes reciclaje en casa listo para ir a buscar.
                        Esto no significa que el camión llegue a tu casa enseguida, si no que es solo para fines informativos
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="/alerta/{{vivienda.[0].rol}}" class="btn btn-danger btn-rojo-os">Quiero enviar mi alerta de reciclaje</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>